<!DOCTYPE html>
<html>
    <head>
		<title>Accueil</title>
    </head>
    <body>
		<div class="center">
      <br><br><br>
      <div class="column" style="padding: 50px 200px 30px 200px";></br>
        <fieldset style="padding: 40px 20px 30px 20px; border: 2px groove; border-radius: 30px;" class="Typo" style="color:rgb(13, 46, 38);">
          <h2 class="Typo" style="color:rgb(13, 46, 38);">Bonjour/Bonsoir,</h2>
          <h2 class="Typo" style="color:rgb(13, 46, 38);">Bienvenue sur notre site de recettes où vous allez pouvoir retrouver</h2>
          <h2 class="Typo" style="color:rgb(13, 46, 38);">les meilleurs recettes du moment et vous pouvez aussi commander directement</h2>
          <h2 class="Typo" style="color:rgb(13, 46, 38);">un plat préparer par nos cuisinier. 
          <h2 class="Typo" style="color:rgb(13, 46, 38);">N'hésitez pas tous les ingrédients nécessaires pour les recettes sont</h2>
          <h2 class="Typo" style="color:rgb(13, 46, 38);">disponible sur notre site directement dans la catégorie produits</h2>
          </br>
          <p class="Typo" style="color:rgb(13, 46, 38);"></p>
          <p class="Typo" style="color:rgb(13, 46, 38);"><i>Cordialement,</i></p>
          <p class="Typo" style="color:rgb(13, 46, 38);"><i>l'équipe de Recipe Finder</i></p>
        </fieldset>
      </div>
		</div>
    </body>
</html>